.weatherApp {
    height: 600px;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
}


.weatherApp input {
    width: 250px;
    border: none;
    outline: none;
    padding: 0.65rem;
    border-radius: 20px;
}
.weatherApp input::placeholder {
    opacity: 0.7;
}

.inputDeco {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
    padding-left: 0.65rem;
    align-items: center;

}

.searchContainer {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.weatherApp .outputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: auto;
    height: 95%;
    width: 420px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}
.outputContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.currentOutput {
    text-align: center;
    text-shadow: 0px 1px 4px black;
    margin: 15px auto 45px;

}

.myLoc {
    font-size: 25px;
    margin-bottom: 10px;
}

.location {
    font-size: 20px;
}

.mainTemp {
    font-size: 65px;
    margin-left: 15px;
}

.desc {
    font-size: 13px;
}

.forecastContainer {
    border-radius: 10px;
    width: 90%;
    text-shadow: 0px 1px 1px grey;
}

span {
    font-size: 15px;
}

.hourly {
    display: flex;
    overflow-x: auto;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
    border: 1px dotted black;
    background: linear-gradient(rgba(24, 94, 139, 0.3),rgba(31, 124, 226, 0.3));
    margin-bottom: 20px;
   
}
.hourly img {
    height: 55px;
}
.hourlyContainer {
    padding: 0px 5px;
}

.hourly::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.ampm {
    font-size: 12px;
}

.daily {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 0px 10px;
    width: 95%;
}

.dailyTitle {
    padding-top: 10px;
    font-size: 12px;
}
.minmax {
    font-size: 11px;
    padding-left: 20px;
}
.min {
    color: lightblue;
}
hr {
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    
}

.weatherApp .dailyContainer {
    border: 1px dotted black;
    border-radius: 10px;
    background: linear-gradient(rgba(24, 94, 139, 0.2),rgba(31, 124, 226, 0.3));
    margin-bottom: 20px;
}

.widgetContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.weatherApp .widget {
    width: 47%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-wrap: break-word;
    hyphens: manual;
}
.weatherApp .widgetTitle {
    font-size: 12px;
    padding: 10px 10px 20px;
}

.widgetContent {
    padding:  0px 10px 10px;
    font-size: 30px;
    overflow-wrap: break-word;
}
.textContent {
    font-size: 20px;
}

.widgetComment {
    font-size: 13px;
    padding: 0px 10px 10px;
    overflow-wrap: break-word;
}

.bold {
    font-size: 15px;
}

.windWidget {
    display: flex;
}

.windgust {
    font-size: 12px;
    margin: 2px 0px 0px 10px;
}

.dir {
    margin-left: 20px;
}
