
.weatherApp {
    height: 600px;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    
    .search {
        font-size: 15px;
        height: 20px;
        margin-left: 5px;
    }
    input {
        width: 200px;
    }
    .searchContainer {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .outputContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow-y: auto;
        height: 95%;
        width: 420px;
    }

    .currentOutput {
        text-align: center;
        text-shadow: 0px 1px 4px black;
        margin: 15px 0px 25px;

    }
    .myLoc {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .location {
        font-size: 25px;
    }
    .mainTemp {
        font-size: 65px;
    }
    .desc {
        font-size: 13px;
    }

    .forecastContainer {
        border: 1px solid black;
        border-radius: 10px;
        width: 90%;
        text-shadow: 0px 1px 1px grey;
    }

    p {
        border: 1px solid black;
    }
    
    span {
        font-size: 13px;
    }

    .hourly {
        display: flex;
        overflow-x: auto;
        text-align: center;
        width: 100%;
    }

}

.forecastContainer {
    background: linear-gradient(#6fc5ed, #7393B3);
    
}

